// --- WiFi Settings ---
#define DEFAULT_SSID     "MYWIFI"
#define DEFAULT_PASSWORD "SuperSecretPassword"

// --- Data Source (FOX REST API URL) ---
#define DATA_URL  "http://192.168.0.101/0000/get_current_parameters"
